.player {
  margin: 10px;
  .rhap_container {
    margin-bottom: 30px;
    .rhap_progress-section {
      display: none;
    }
    .rhap_controls-section {
      margin: 0;
      .rhap_additional-controls {
        display: none;
      }
      .rhap_volume-controls {
        display: none;
      }
    }
    box-shadow: none;
    background-color: #f1f5f8;

    .rhap_main-controls {
      .rhap_rewind-button {
        display: none;
      }
      .rhap_forward-button {
        display: none;
      }
      .rhap_play-pause-button {
        color: #2792f7;
        outline: none;
        margin-left: 35px;
      }
    }
  }
  .controls {
    .forward-button,
    .rewind-button,
    .speed-input,
    .share-image {
      position: absolute;
      cursor: pointer;
    }
    .forward-image,
    .rewind-image {
      width: 20px;
    }
    .forward-button {
      top: 26px;
      left: 110px;
      .forward-time {
        font-size: 10px;
        position: absolute;
        top: 8px;
        left: 4px;
        &:hover {
          color: #2792f7;
        }
      }
    }
    .rewind-button {
      top: 26px;
      left: 30px;
      .rewind-time {
        font-size: 10px;
        position: absolute;
        top: 8px;
        left: 4px;
        &:hover {
          color: #2792f7;
        }
      }
    }

    .speed-input {
      top: 27px;
      left: 150px;
      border-radius: 12px;
      border: 1px solid #e3e7e8;
      padding: 5px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .share-image {
      top: 20px;
      right: 50px;
    }
  }
  .duration {
    margin-left: 25px;
    padding: 5px;
    background-color: #eef1f1;
    border-radius: 5px;
    font-weight: 600;
  }
}

.wave-section {
  max-height: 100px;
  margin-left: 30px;
  margin-top: 39px;
  margin-bottom: 3rem;
  font-size: 19px;
  display: flex;
  .person-word-percent {
    min-width: 120px;
    margin-right: 20px;
    margin-top: 8px;
    display: block;
    .first-person {
      color: #967ee4;
      margin-bottom: 15px;
      font-weight: bold;
    }
    .second-person {
      color: #64afe9;
      font-weight: bold;
    }
  }
  .axis {
    display: flex;
    .upper-wave {
      border-bottom: 1px solid #f1f4f6;
      display: flex;
      background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2px,
        #a135d4 0px,
        #ccc 4px
      );
    }

    .lower-wave {
      display: flex;
      transform: translateY(40px);
      background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2px,
        #339ed4 0px,
        #ccc 4px
      );
    }

    .strip {
      display: flex;
      overflow: hidden;
      min-height: 40px;

    }
  }
}

.seek-bar {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  height: 80px;
  position: absolute;
  top: 157px;
  left: 170px;
  cursor: pointer;
  .seek-line {
    border-right: 2px solid cornflowerblue;
    height: 80px;
    opacity: 0.7;
    background-color: #eef8fe;
  }
}

.search {
  margin: 0 0 20px 30px;
  display: flex;
  .search-input {
    padding: 6px 37px 5px 50px;
    font-size: 17px;
    border: 1px solid #d9dde1;
    border-radius: 6px;
  }
  .icon {
    position: absolute;
    top: 8px;
    left: 20px;
    height: 20px;
  }

  .result {
    margin-left: 10px;
  }

  .clear-search {
    margin-left: 10px;
    cursor: pointer;
    color: #6babec;
  }
}

.transcripts {
  padding: 10px 25px;

  .section {
    display: flex;
    min-height: 70px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    .transcript-time {
      margin-right: 10px;
      font-size: 16px;
      font-weight: bold;
    }

    .divider {
      border-left: 1px solid #b5bdbd;
      height: 70px;
    }

    .transcript-words {
      font-size: 18px;
      margin-left: 10px;
      .word:hover {
        background-color: lightblue;
        cursor: pointer;
        transition: 0.8s;
      }
    }
  }
}
