.player {
  margin: 10px;
  .rhap_container {
    margin-bottom: 30px;
    .rhap_progress-section {
      display: none;
    }
    .rhap_controls-section {
      margin: 0;
      .rhap_additional-controls {
        display: none;
      }
      .rhap_volume-controls {
        display: none;
      }
    }
    box-shadow: none;
    background-color: #f1f5f8;

    .rhap_main-controls {
      .rhap_rewind-button {
        display: none;
      }
      .rhap_forward-button {
        display: none;
      }
      .rhap_play-pause-button {
        color: #2792f7;
        outline: none;
        margin-left: 35px;
      }
    }
  }
  .controls {
    .forward-button,
    .rewind-button,
    .speed-input,
    .share-image {
      position: absolute;
      cursor: pointer;
    }
    .forward-image,
    .rewind-image {
      width: 16px;
    }
    .forward-button {
      top: 29px;
      left: 110px;
    }
    .rewind-button {
      top: 29px;
      left: 33px;
    }

    .speed-input {
      top: 27px;
      left: 150px;
      border-radius: 7px;
      border: 1px solid #e3e7e8;
      padding: 5px;
      outline: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: "";
    }
    .share-image {
      top: 20px;
      right: 45px;
    }
  }
  .duration {
    margin-left: 25px;
    padding: 5px;
    background-color: #eef1f1;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
  }
}

.wave-section {
  max-height: 100px;
  margin-left: 30px;
  margin-top: 39px;
  margin-bottom: 3rem;
  font-size: 19px;
  display: flex;
  .person-word-percent {
    min-width: 120px;
    margin-right: 20px;
    margin-top: 8px;
    display: block;
    .first-person {
      color: #a135d4;
      margin-bottom: 15px;
      font-size: 15px;
      font-weight: 600;
    }
    .second-person {
      color: #339ed4;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .axis {
    display: flex;
    .upper-wave {
      border-bottom: 1px solid #f1f4f6;
      display: flex;
      background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2px,
        #a135d4 0px,
        #ccc 4px
      );
      min-height: 40px;
    }

    .lower-wave {
      display: flex;
      transform: translateY(40px);
      background: repeating-linear-gradient(
        90deg,
        transparent,
        transparent 2px,
        #339ed4 0px,
        #ccc 4px
      );
      min-height: 40px;
    }
      .upper-wave-overlay {
        border-bottom: 1px solid #f1f4f6;
        display: flex;
        transform: translateY(-40px);
        background: repeating-linear-gradient(
                        90deg,
                        transparent,
                        transparent 2px,
                        gray 0px,
                        #ccc 4px
        );
        min-height: 40px;
      }

      .lower-wave-overlay {
        display: flex;
        position: relative;
        background: repeating-linear-gradient(
                        90deg,
                        transparent,
                        transparent 2px,
                        gray 0px,
                        #ccc 4px
        );
        min-height: 40px;
      }
  }
}

.seek-bar {
  border-right: 1px solid #b8bdbf;
  border-left: 1px solid #b8bdbf;
  height: 80px;
  position: absolute;
  top: 157px;
  left: 170px;
  cursor: pointer;
  .seek-line {
    border-right: 2px solid cornflowerblue;
    height: 80px;
    opacity: 0.4;
    background-color: #eef8fe;
  }
  .horizontal-line{
    border-top: 1px solid #e6ebed;
    transform: translateY(-40px);
  }
}

.search {
  margin: 0 0 20px 30px;
  display: flex;
  .search-input {
    padding: 8px 39px 7px 52px;
    font-size: 16px;
    border: 1px solid #d9dde1;
    border-radius: 10px;
  }
  .icon {
    position: absolute;
    top: 8px;
    left: 20px;
    height: 20px;
  }
}

.transcripts {
  padding: 10px 25px;

  .section {
    display: flex;
    min-height: 70px;
    margin-bottom: 20px;
    padding: 5px;
    .transcript-time {
      margin-right: 10px;
      font-size: 15px;
      font-weight: bold;
    }

    .divider {
      border-left: 1px solid #dce3e6;
      height: 70px;
    }

    .transcript-words {
      font-size: 17px;
      margin-left: 10px;
      font-weight: 400;
      .word:hover {
        background-color: #bdeafc;
        cursor: pointer;
        transition: 0.8s;
      }
    }
  }
}
